 <md-content layout-fill flex>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Ansicht">
        <md-content class="md-padding">
        	<md-toolbar md-scroll-shrink ng-if="true" ng-controller="TitleController">
				<div class="md-toolbar-tools">
				<h3>
					<span>Module - Ansicht</span>
				</h3>
				</div>
			</md-toolbar>
			<div layout='row' ng-repeat=''></div>
		</md-content>
      </md-tab>
      <md-tab label="Neu">
        <md-content class="md-padding">
        	<md-toolbar md-scroll-shrink ng-if="true" ng-controller="TitleController">
				<div class="md-toolbar-tools">
				<h3>
					<span>Module - Ansicht</span>
				</h3>
				</div>
			</md-toolbar>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>