  <md-content class="md-padding" flex layout='column'>
    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="bottom" flex layout-fill>
      <md-tab id="ansicht">
		<md-tab-label>Ansicht</md-tab-label>
		<md-tab-body>
				<md-toolbar md-scroll-shrink>
					<div class="md-toolbar-tools">
					<h3>
						<span>Module - Ansicht</span>
					</h3>
					</div>
				</md-toolbar>
				<div flex layout-fill>
					<div ng-repeat="module in modules" class="module-list">
						<textarea>{{makeReadable(module)}}</textarea>
					</div>
				</div>
		</md-tab-body>
      </md-tab>
      <md-tab id="neu">
		<md-tab-label>Neu</md-tab-label>
		<md-tab-body>
				<md-toolbar md-scroll-shrink >
					<div class="md-toolbar-tools">
					<h3>
						<span>Module - Anlegen</span>
					</h3>
					</div>
				</md-toolbar>
				<div layout='row' flex layout-fill>
					<md-input-container flex layout-fill>
						<label>Neues Modul</label>
						<textarea ng-model="newModule.stringContent" flex rows="12" layout-fill>
							\{name: "Neues Modul"\}
						</textarea>
					</md-input-container>
				</div>
                <div layout='column' flex></div>
                <md-toolbar class="md-primary md-hue-1">
                        <span flex></span>
                        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                            <span>
                                <i class="mdi mdi-24px {{checkValid.classes}}"></i>
                                Gültiges JSON
                            </span>
                            <span flex></span>
                            <md-button class="md-flex"><i class="mdi mdi-24px mdi-plus-box"></i> Feld hinzufügen</md-button>
                            <md-button class="md-flex"><i class="mdi mdi-24px mdi-plus-circle"></i> Metafeld hinzufügen</md-button>
                            <md-button class="md-flex" ng-disabled="checkValid.invalid"><i class="mdi mdi-24px mdi-content-save"></i> Speichern</md-button>
                        </h2>
                    </md-toolbar>
		</md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>